/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.button {
  border: var(--card-border);
  background-color: #fff;
  font-size: 14px;
  font-family: var(--text-accent), sans-serif;
  outline: none;
  box-shadow: 0 0 0 var(--base-color);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

button:focus-visible {
  box-shadow: 2px 2px 0 var(--base-color);
}

.button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: var(--base-color); */
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 0;
  mix-blend-mode: difference;
  inset: 0 0;
  z-index: 5;
}

.button:hover:after {
  transform: scaleX(1);
}

.page {
  padding-block-start: 100px;
  padding-block-end: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--text-base), sans-serif;
  font-variation-settings: "wght" var(--text-weight-base);
  background-image: var(--backround-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  border: var(--card-border);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block-start: 130px;
  padding-block-end: 130px;
}
.content-block {
  /* width: 100%; */
  /* max-width: 700px; */
  /* min-width: 375px; */
  /* width: clamp(375px, 16rem + 40vw, 700px); */
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin: 0 auto;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--text-accent), sans-serif;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--text-accent), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.cards {
  display: flex;
  margin-block-start: 94px;
  flex-direction: column;
  gap: 52px;
}

.card {
  border: var(--card-border);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card__content {
  position: relative;
}

.card__label {
  display: block;
  position: absolute;
  font-size: 14px;
  color: var(--base-color);
  font-family: var(--text-accent), sans-serif;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  text-transform: uppercase;
}

.card__title {
  border-block-end: var(--card-border);
  font-size: 18px;
  font-variation-settings: "wght" var(--text-weight-title);
  padding: 5px 10px;
}

.card__image {
  display: block;
  width: 100%;
  object-fit: fill;
  object-position: 0 0;
  /* margin-block-end: -4px; */
}

.card__image-brightness {
  filter: brightness(140%) sepia(1);
}

.card__image-hue {
  filter: hue-rotate(-40deg);
}

.card__image-saturate {
  filter: saturate(260%);
}

.card__image-invert {
  filter: invert(0.8);
}

.card__image-contrast-brightness {
  filter: contrast(7) brightness(200%);
}

.card__image-blur {
  filter: blur(0.6rem);
}

.card__description {
  font-size: 18px;
  padding: 20px 25px 25px 25px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-block-start: var(--card-border);
}

.card__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  /* background-color: #ff0; */
  padding-block-end: 25px;
  padding-inline-end: 25px;
  gap: 7px;
}

.card__like-button {
  width: 130px;
  min-height: 38px;
}

.card__like-button:focus {
  outline: none;
}

.card__icon-button {
  outline: 2px solid transparent;
  background-color: transparent;
  border: 0;
  /* background-color: #ff0; */
  width: 38px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: outline 0.3s ease;
  /* outline: var(--card-border); */
  padding: 0;
}

.card__icon-button:focus-visible {
  outline: var(--card-border);
}

.like-icon {
  width: 39px;
  max-height: 36px;
}

.like-icon:hover .core {
  fill: var(--base-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--base-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale_heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: appearance_sparks 0.3s ease-in 0.3s;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  /* opacity: 0; */
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  /* opacity: 0; */
  fill: transparent;
  transition: fill 0.3s linear;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 335px;
  min-height: 54px;
  margin: 0 auto;
}

/* .save-button:after {
  height: 100%;
}  */

.save-button__icon {
  width: 21px;
  height: 21px;
}

/* .save-button__text {
  position: relative;
  z-index: 10;
}  */

.dialog {
  flex-direction: column;
  gap: 20px;
  width: 353px;
  /* height: 191px; */
  padding: 30px;
  background-color: #fff;
  border: var(--card-border);
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: grid;
  align-items: center;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  text-transform: uppercase;
  line-height: 1.5;
}

.dialog__icon {
  width: 39px;
  height: 39px;
}

.dialog__close {
  width: 100%;
  height: 38px;
}

.dialog__close:after {
  min-height: 34px;
}

.dialog__text {
  font-family: var(--text-accent), sans-serif;
  font-size: 14px;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

/* h1 {
  font-family: var(--text-base), sans-serif;
  font-variation-settings: 'wght' var(--text-weight-title);
} */

@media (width <= 376px) {
  .header {
    padding-block-start: 122px;
    padding-block-end: 120px;
    gap: 18px;
  }

  .cards {
    margin-block-start: 98px;
    gap: 49px;
  }

  .card__description {
    padding: 22px 25px 25px 25px;
  }

  .save-button {
    width: 306px;
    height: 84px;
    display: flex;
    flex-direction: column;
  }

  .save-button__icon {
    width: 28px;
    min-height: 28px;
  }
}
