/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --base-color: #000;
  --text-base: 'Inter-Variable';  
  --text-accent: 'PressStart2P-Regular';
  --text-weight-base: 410;
  --text-weight-title: 715;
  --backround-gradient: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, rgb(211 211 211 / 0) 2px, rgb(211 211 211 / 0) 4px),
    repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, rgb(211 211 211 / 0) 2px, rgb(211 211 211 / 0) 4px),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a); 
  --card-border: 2px solid var(--base-color); 
  --contour-color: #000;
  --animation-fill-color: #f00;
}